<% content_for :title do %>Foodlog &ndash; <%= DateTime.now.to_fs(:short) %> <%
end %>

<h1 class="title">Log entries</h1>

<div id="log_entries" class="is-flex">
  <% @log_entries.each do |log_entry| %> <%= render log_entry %> <% end %>
</div>
